@{ ViewBag.Title = "Чат"; }

<div class="container">
    <h4>Пример чата</h4>

    <div>
        <div id="input-form">
            <input type="text" id="message" />
            <input type="button" class="btn btn-default" id="send-message" value="Отправить" />
        </div>
    </div>

    <ul id="information-block"></ul>
</div>